<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/styles.css">
    {% block head %}
      <title>Foodfy</title>
    {% endblock %}
  </head>

  <body>
    <header id="header-pattern">
      <div class="container">
        <div class="row">
          <div class="container-logo">
            <a href="/">
              <img src="/assets/logo.png" alt="FoodFy Logo">
            </a>
          </div>
          <div class="menu">
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
          </div>
        </div>
      </div>
    </header>

    <div class="container-body">
    {% block content%}
    {% endblock %}
    </div>

    <footer>
      <div class="container-footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
      </div>
    </footer>

  </body>
</html>