<!DOCTYPE html>
<html>
  
  <head>
    
    {% block head %}
      <title>Página Inicial</title>
    {% endblock %}

    <link rel="icon" href="assets/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
  </head>

  <body>
    <header>
      <div class="container-menu">
        <a href="/" class="active"></i>Teachers</a>
        <a href="/about">Students</a>
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>