{% extends "layout.njk" %}

{% block content %}

  <form class="card" method="POST" action="/teachers">
    <section class="photo" style="background: url(https://source.unsplash.com/collection/10553730/800x800) no-repeat center center / cover"></section>
    
    <section class="information">

      <div class="item">
        <div>Photo</div>
        <div>
          <input 
            type="url" 
            name="photo_url"
            placeholder="https://"
            required
          >
        </div>
      </div>

      <div class="item">
        <div>Full name</div>
        <div>
          <input 
            type="text" 
            name="name"
            placeholder="Type your full name"
          >
        </div>
      </div>

      <div class="item">
        <div>Birth date</div>
        <div>
          <input 
            type="date" 
            name="birth"
          >
        </div>
      </div>

      <div class="item">
        <div>Education level</div>
        <div>
          <select name="education">
            <option value="medium">Complete High School</option>
            <option value="graduation">Complete Graduation</option>
            <option value="master">Master's Degree</option>
            <option value="doctorate">Doctorate Degree</option>
          </select>
        </div>
      </div>

      <div class="item">
        <div>Class format</div>
        <div>
          <span><input type="radio" name="format" value="tradicional" checked>Tradicional classes</span>
          <span><input type="radio" name="format" value="online">Online classes</span>
        </div>
      </div>

      <div class="item">
        <div>Subjects</div>
        <div>
          <input 
            type="text" 
            name="subjects"
            placeholder="Type the subjects you teach between commas ,"
          >
        </div>
      </div>

      <button type="submit">SAVE</button>

    </section>

  </form>

{% endblock content %}