{% extends "layout.njk" %}

{% block head %}
  <title>Sobre - Rocketseat</title>
{% endblock %}

{% block content %}

  <div class="container-about">
    <h1>{{about.title}}</h1>
    <img src="{{about.image_url}}" alt="Logo {{about.title}}">
    <h3>{{about.description}}</h3>
    <p>{{about.info}}</p>
    <ul>
    {% for tech in about.techs %}
      <li>{{tech}}</li>
    {% endfor %}
    </ul>
  </div>

{% endblock %}
