{% extends "layout.njk" %}
 
{% block head %}
  <title>Conteúdo - Rocketseat</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

  <section>
    <div class="cards">

      {% for item in data %}
      <div class="card" id="{{item.id}}">
        <div class="card-content">
          <div class="card-number">
            <p id="{{item.color}}">{{item.number}}</p>
          </div>
          <div class="card-image">
            <img src="https://skylab.rocketseat.com.br/static/media/{{item.image_id}}.svg" alt="Imagem de {{item.title}}">
          </div>
          <div class="card-info">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
          </div>
          <div class="card-footer">
            <p>{{item.modules}}</p>
            <p class="payment">{{item.price}}</p>
          </div>
        </div>
      </div>
      {% endfor %}


    </div>
  </section>
  
  <div class="modal-overlay">
    <div class="modal">

      <a class="modal-close">
        <i class="material-icons">close</i>
      </a>
      
      <a class="modal-maximize">
        <span class="material-icons">
          open_in_full
        </span>
      </a>

      <a class="modal-minimize">
        <span class="material-icons">
          close_fullscreen
        </span>
      </a>

      <div class="modal-content">
        <iframe src="" frameborder="0"></iframe>
      </div>

    </div>
  </div>

  <script src="scripts.js"></script>

{% endblock %}
