{% extends "layout.njk" %}
 
{% block head %}
  <title>Conteúdo - Rocketseat</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

  <section>
    <div class="cards">

    {% for item in data %}
      <div class="card pointer" id="{{item.id}}">
        <div class="card-content">
          <div class="card-number">
            <p id="{{item.color}}">{{item.number}}</p>
          </div>
          <div class="card-image">
            <img src="https://skylab.rocketseat.com.br/static/media/{{item.image_id}}.svg" alt="Imagem de {{item.title}}">
          </div>
          <div class="card-info">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
          </div>
          <div class="card-footer">
            <p>{{item.modules}}</p>
            <p class="payment">{{item.price}}</p>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </section>

  <script src="/scripts.js"></script>

{% endblock %}
