{% extends "layout.njk" %}
 
{% block head %}
  <title>Início - Rocketseat</title>
{% endblock %}

{% block content %}

    <section>
      <div class="container-welcome">
        <h3>Seja bem vindo :)</h3>
        <iframe src="https://66.media.tumblr.com/tumblr_m5mqeo3Lgz1rxh7cjo1_400.gifv" frameborder="0"></iframe>
      </div>
    </section>

{% endblock %}
