{% extends "layout.njk" %}

{% block content %}

  <div class="card table-container">
    <a href="/teachers/create">New</a>

    <table>
      <thead>
        <tr>
          <th>Full name</th>
          <th>Subjects</th>
          <th>Students</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for teacher in teachers %}
          <tr>
            <td>
              <span style="background-image: url({{ teacher.avatar_url }})"></span>
              {{ teacher.name }}
            </td>
            <td class="table-subject">
              {% for subject in teacher.subjects_taught.split(",") %}
                <span>{{ subject }}</span>
              {% endfor %}
            </td>
            <td>{{ teacher.number_students }}</td>
            <td><a href="/teachers/{{ teacher.id }}">view</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>

{% endblock content %}