{% extends "layout.njk" %}
 
{% block head %}
  <title>404 - Rocketseat</title>
{% endblock %}

{% block content %}

  <div class="container-404">
    <p>Oops... <br /> Essa página não foi encontrada ='( <br/> Verifique o endereço e tente novamente</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTL35v_5yUlFcJqpugbFeQxy_IJhvIz9zE4J6jCU8CkLHToJhS7&usqp=CAU" alt="Página não encontrada">
  </div>

{% endblock %}