{% extends "layout.njk" %}

{% block content %}
  <section>

    <div class="container-banner">
      <div class="container-info">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos
          com receitas criadas por profissionais
          do mundo inteiro.
        </p>
      </div>
      <div class="container-img">
        <img src="/assets/chef.png" alt="FoodFy Logo">
      </div>
    </div>

    <div class="container-content">
      <h2>Mais acessadas</h2>
    </div>

    <div class="cards">
      
      <div class="card" id="burger">
        <div class="card-photo">
          <img src="/assets/burger.png" alt="">
        </div>
        <div class="card-info">
          <h3>Triplo bacon burger</h3>
          <p>por Jorge Relato</p>
        </div>
      </div>

      <div class="card" id="pizza">
        <div class="card-photo">
          <img src="/assets/pizza.png" alt="">
        </div>
        <div class="card-info">
          <h3>Pizza 4 estações</h3>
          <p>por Fabiana Melo</p>
        </div>
      </div>

      <div class="card" id="espaguete">
        <div class="card-photo">
          <img src="/assets/espaguete.png" alt="">
        </div>
        <div class="card-info">
          <h3>Espaguete ao alho</h3>
          <p>por Júlia Kinoto</p>
        </div>
      </div>

      <div class="card" id="lasanha">
        <div class="card-photo">
          <img src="/assets/lasanha.png" alt="">
        </div>
        <div class="card-info">
          <h3>Lasanha mac n'cheese</h3>
          <p>por Juliano Vieira</p>
        </div>
      </div>

      <div class="card" id="doce">
        <div class="card-photo">
          <img src="/assets/doce.png" alt="">
        </div>
        <div class="card-info">
          <h3>Docinhos pão-do-céu</h3>
          <p>por Ricardo Golvea</p>
        </div>
      </div>

      <div class="card" id="asinhas">
        <div class="card-photo">
          <img src="/assets/asinhas.png" alt="">
        </div>
        <div class="card-info">
          <h3>Asinhas de frango ao barbecue</h3>
          <p>por Vania Steroski</p>
        </div>
      </div>

    </div>
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-content">
        <img src="" alt="Imagem da receita">
        <h3 id="modal-title"></h3>
        <p id="modal-description"></p>
        <div class="modal-close">
          <p>Fechar modal</p>
        </div>
      </div>
    </div>
  </div>

  <script src="/scripts.js"></script>

{% endblock %}