{% extends "layout.njk" %}

{% block content %}
  <section>

    <div class="container-banner">
      <div class="container-info">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos
          com receitas criadas por profissionais
          do mundo inteiro.
        </p>
      </div>
      <div class="container-img">
        <img src="/assets/chef.png" alt="FoodFy Logo">
      </div>
    </div>

    <div class="container-content">
      <h2>Mais acessadas</h2>
    </div>

    <div class="cards">

    {% for recipe in data %}
      <div class="card">
        <div class="card-photo">
          <img src="{{ recipe.image }}" alt="Image of {{ recipe.title }}">
        </div>
        <div class="card-info">
          <h3>{{ recipe.title }}</h3>
          <p>por {{ recipe.author }}</p>
        </div>
      </div>
    {% endfor %}

    </div>
  </section>

  <script src="/scripts.js"></script>

{% endblock %}