<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="styles.css">
    {% block head %}
      <title>Foodfy</title>
    {% endblock %}
  </head>

  <body>
    <header>
      
      <div class="container">
        <div class="row">
          <div class="container-logo">
            <a href="/">
              <img src="/assets/logo.png" alt="FoodFy Logo">
            </a>
          </div>

          <div class="menu">
            {% block menu %}
              <a href="/about">Sobre</a>
              <a href="/recipes">Receitas</a>
            {% endblock %}
          </div>
        </div>
      </div>

    </header>

    {% block content%}
    {% endblock %}

    <footer>
      <div class="container-footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
      </div>
    </footer>

    <script src="/scripts.js"></script>

  </body>
</html>