{% extends "recipes/layout.njk" %}

{% block head %}
  <title>404 - Foodfy</title>
{% endblock %}

{% block content %}
  <div class="container-404">
    <h3>Página não encontrada :(</h3>
    <img src="/assets/chef.png" alt="">
  </div>
{% endblock %}