@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

:root {
  --color-regular: #111111;
  --color-rose: #FBDFDB;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container-admin,
.container-nav {
  width: 100%;
}

.container-body {
  margin: 0 15%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container-admin img,
.container-logo img {
  margin-top: -5px;
  margin-left: 13rem;
}

.container-admin {
  background-color: #111;
  height: 80px;
}

.container-admin img {
  margin-top: 25px;
}

#header-pattern {
  width: 100%;
  margin: 2rem 0;
}

header .menu {
  width: 60%;
  display: flex;
}

header .menu a {
  color: var(--color-regular);
  text-decoration: none;
  font-size: 16px;
  margin-left: 35px;
}

header .menu a:first-child {
  margin-left: 115px;
}

header .menu a.page {
  font-weight: bold;
}

header .menu a:hover {
  transition: 0.4s all ease-in;
  color: var(--color-rose);
}

.container-banner {
  max-width:100%;
	height:auto;
  background-color: var(--color-rose);
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-banner .container-info {
  padding: 115px 58px;
}

.container-banner h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.container-banner p {
  opacity: 0.7;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
  width: 90%;
}

.container-banner .container-img {
  text-align: center;
  margin-top: 65px;
  margin-left: 60px;
}

.container-content {
  margin-top: 3.5em;
}

.container-content h2 {
  font-size: 24px;
  font-weight: bold;
}

/* == Cards == */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.card-info h3 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;
  color: #111111;
  font-weight: normal;
}

.card-info p {
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
  color: #777777;
}

.card-photo img {
  height: 140px;
  border-radius: 15px;
  max-width:100%;
}

.container-footer {
  background: #EEEEEE;
  padding: 20px;
  margin-top: 50px;

}

.container-footer p {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  text-align: center;
}

.container-about h2 {
  font-size: 24px;
  color: #111111;
}

.container-about p {
  font-size: 18px;
  color: #444444;
  margin: 30px 0;
}

.container-about h3 {
  font-size: 20px;
  color: #111111;
}

.container-init h2, #by {
  text-align: center;
}

.container-recipe h2 {
  margin-top: 40px;
  font-size: 36px;
  color: #111111;
}

.container-recipe #by {
  font-size: 20px;
  color: #777777;
}

.container-init img {
  border-radius: 15px;
  min-width: 940px;
	max-height: 280px;
}

.recipe-subtitle {
  margin-top: 40px;
  display: flex;
  width: 100%;
}

.recipe-subtitle h3 {
  font-size: 24px;
  color: #111111;
}

.recipe-subtitle a {
  margin: 10px;
  font-weight: bold;
  font-size: 12px;
  color: #999999;
  text-decoration: none;
  cursor: pointer;
}

.recipe-content.hide {
  display: none;
}

.recipe-content ul {
  margin: 10px 20px;
  display: block;
}

.recipe-content li, p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.recipe-content p {
  margin-top: 10px;
  text-align: justify;
}

.container-404 {
  text-align: center;
  margin: 50px 0;
}

.container-404 h3 {
  margin-bottom: 40px;
}

.cards-admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.card-admin {
  display: flex;  
}

.card-admin img {
  width: 172px;
  height: 80px;
  border-radius: 8.57px;
}

.card-admin--content {
  margin-left: 20px;
}

.card-admin--content h3 {
  font-size: 18px;
  color: #111111;
  font-weight: normal;
}

.card-admin--content p {
  font-size: 14px;
  color: #777777;
}

.card-admin--content a {
  font-size: 14px;
  color: #6558C3;
  font-weight: bold;
  text-decoration: none;
}

.container-action {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
}

.container-action h3 {
  font-size: 24px;
  color: #111111;
}

.container-action a, #btn-delete, button[type=submit] {
  background: #6558C3;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  width: 136px;
  text-align: center;
  padding: 8px 2px;
  position: absolute;
  right: 15.5%;
  border: none;
  outline: none;
  cursor: pointer;
}

.container-action #btn-delete {
  background: #DC4747;
  border-radius: 4px;
  width: 100px;
  right: 350px;
}

#ingredient-list, #preparation-list {
  list-style-type: none;
  margin-left: 0;
}

.container-items {
  margin-bottom: 30px;
}

.container-items .item:first-child {
  margin-top: 30px;
}

.container-items .item h3 {
  font-size: 16px;
  color: #111111;
  margin-top: 30px;
}

.container-items .item input, textarea {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  width: 95%;
  height: 49px;
  outline: none;
  margin-top: 10px;
  font-size: 16px;
  display: relative;
  padding: 0 20px;
  color: #111111;
}

.container-items .item textarea {
  height: 257px;
  line-height: 24px;
  padding: 20px;
}

.container-items .item button {
  font-size: 16px;
  color: #6558C3;
  font-weight: bold;
  display: block;
  margin-top: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
