<div class="item-container">

  <div class="item">
    <div>Photo</div>
    <div>
      <input 
        type="url" 
        name="avatar_url"
        placeholder="https://"
        value="{{ student.avatar_url }}"
        required
      >
    </div>
  </div>

  <div class="item">
    <div>Full Name</div>
    <div>
      <input 
        type="text" 
        name="name"
        value="{{ student.name }}"
      >
    </div>
  </div>

  <div class="item">
    <div>Birthday</div>
    <div>
      <input 
        type="date" 
        name="birth_date"
        value="{{ student.birth_date }}"
      >
    </div>
  </div>

  <div class="item">
    <div>E-mail</div>
    <div>
      <input 
        type="email" 
        name="email"
        value="{{ student.email }}"
      >
    </div>
  </div>

  <div class="item">
    <div>School Year</div>
    <div>
      <select name="grade">
        <option value="5" 
          {% if student.grade == "5" %}
            selected
          {% endif %}
          >5th grade of Elementery School
        </option>
        <option value="6"
          {% if student.grade == "6" %}
            selected
          {% endif %} 
          >6th grade of Middle School 
        </option>
        <option value="7"
          {% if student.grade == "7" %}
            selectec
          {% endif %}
          >7th grade of Middle School
        </option>
        <option value="8"
          {% if student.grade == "8" %}
            selected
          {% endif %}  
          >8th grade of Middle School
        </option>
        <option value="9"
          {% if student.grade == "9" %}
            selected
          {% endif %}
          >9th grade (Freshman) of High School
        </option>
        <option value="10"
          {% if student.grade == "10" %}
            selected
          {% endif %} 
          >10th grade (Sophomore) of High School 
        </option>
        <option value="11"
          {% if student.grade == "11" %}
            selected
          {% endif %}  
          >11th grade (Junior) of High School
        </option>
        <option value="12"
          {% if student.grade == "12" %}
            selected
          {% endif %}
          > 12th grade (Senior) of High School 
        </option>
      </select>
    </div>
  </div>

  <div class="item">
    <div>Class Load (Hours)</div>
    <div>
      <input 
        type="number" 
        name="class_load"
        value="{{ student.class_load }}"
      >
    </div>
  </div>

  <div class="item">
    <div>Teacher</div>
    <div>
      <select name="teacher">
        {% for teacher in instructor_options %}
        <option value="{{ teacher.id }}" {% if member.teacher_id == teacher.id %}selected{% endif %}>
          {{ teacher.name }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>

<button type="submit">Save</button>