{% extends "layout.njk" %}

{% block content %}

  <div class="card table-container">

    <div class="index-header">
      <a class="" href="/students/create">New</a>
      <form action="/students" method="get">
        <input 
          type="text"
          name="filter"
          value="{{ filter }}"        
          placeholder="Name or E-mail"
        >
        <button type="submit">Filter</button>
      </form>
    </div>

    <table>
      <thead>
        <tr>
          <th>Full name</th>
          <th>E-mail</th>
          <th>School Year</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>
              <span style="background-image: url({{ student.avatar_url }})"></span>
              {{ student.name }}
            </td>
            <td>
              <span>{{ student.email }}</span>
            </td>
            <td>
              <span>{{ student.grade }}</span>
            </td>
            <td><a href="/students/{{ student.id }}">view</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="pagination"
      data-page={{pagination.page}}
      data-total={{pagination.total}}
      data-filter={{filter}}
    >
    </div>

  </div>

{% endblock content %}